<div class="container project">
      <div class="row project-content">
        <span class="title">{{title}}</span>
        {{#if tabText}}
          <span class="languages">
            {{#each tabText}}
              {{this}}
              {{#unless @last}}|{{/unless}}
            {{/each}}
          </span>
        {{/if}}
        {{#if links}}
          <span class="links">
            {{#each links}}
              {{#if url}}
              <a href = "{{url}}">{{name}}</a>
              {{else}}
                {{name}}
              {{/if}}

              {{#unless @last}}|{{/unless}}

            {{/each}}
          </span>
        {{/if}}

      </div>
      <div class="row divider"></div>
      <div class="row" >
       <div class="project-description" style="white-space:pre-line"> {{{description}}}
       </div>
       {{#if imageUrl}}
       <img src="{{imageUrl}}" alt="{{title}}"/>
       {{/if}}
      </div>
</div>

